.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
  }
  
  button {
    background-color: #f28c28;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  /* New styles for the button under the table */
  .reg-button {
    align-self: flex-start;
    margin-top: 20px;
  }
  