<h1 class="heading">Employee List</h1>
<div *ngIf="loading">Loading leave details...</div> <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<div *ngIf="!loading && leaveDetailsArray.length === 0 && !errorMessage">No leave details found.</div>
<div *ngIf="!loading && leaveDetailsArray.length > 0">
  <button (click)="goToDashBoard()" class="reg-button">Back</button>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leaveDetail of leaveDetailsArray">
        <td>{{ leaveDetail.name }}</td>
        <td>{{ leaveDetail.email }}</td>
        <td>{{ leaveDetail.leaveType }}</td>
        <td>{{ leaveDetail.startDate | date }}</td>
        <td>{{ leaveDetail.endDate | date }}</td>
        <td>{{ leaveDetail.reason }}</td>
        <td>{{ leaveDetail.status }}</td>
        <button class="reg-button" (click)="goToUpdateStatus()">Update</button>
      </tr>
    </tbody>
  </table>
</div>