.footer {
  padding: 10px;
  background-color: #212223;
  color: white;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box; /* Important: Include padding in width */
}